// PAGE 
// Major page structure + classes

// Section 
.section {}

.section-wrap {
   padding-top: 90px;
   padding-bottom: 90px;
}

.section-header {
   position: relative;
   padding: 150px 0;
   background-position: left center;
   z-index: 1;
   > * {
     z-index: 2;
   }
   .section-title {
     animation: fadeIn 0.75s linear;
   }
}
.section-title {
  margin-bottom: 30px;
}
.section-subtitle {}

// Section work
.section-work {
  .work-title {
    margin-top: 15px;
  }
}

// Page
.page-home {
  .section-home-about {}
}

.page-about {}

// Footer
.footer {
  .container {
    width: 60%;
    margin: auto;
    position: relative;
  }
}

// line
.line {
  border-bottom: 1px solid $color-body;
  max-width: 45px;
  margin: -10px 0 30px;
}